<head>
 <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  {%- feed_meta -%}
  <script src="{{ "/assets/javascript/bootstrap/jquery.min.js" | relative_url }}"></script>
  <script src="{{ "/assets/javascript/bootstrap/bootstrap.bundle.min.js" | relative_url }}"></script>
  <script src="https://cdn.ncsu.edu/brand-assets/utility-bar/ub.php?googleCustomSearchCode={{site.ncstate_brand_search_code}}&placeholder={{site.ncstate_brand_search_placeholder}}&maxWidth=1100&color=gray&showBrick=1"></script>
  <script src="https://kit.fontawesome.com/7f39ea1c88.js" crossorigin="anonymous"></script>
</head>
